<div class="panel panel-grey">
    <div class="panel-heading">
        Broadcast Message From 
            <label id="lblFromUser"></label>
    </div>
    <div>
        <h4>
            <b>
                <label id="lblbrodcastMessage"></label>
            </b>
        </h4>

    </div>
</div>



