@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Permission Redirect Page";
}
<div style="margin-top: 8%">
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3>Permission Level Error</h3>
                We are sorry, you do not have the permissions to view the requested page. 
            </div>
        </div>
    </div>
</div>
