
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User UnAuthorize</title>
    <link href="~/Content/Style/style.css" rel="stylesheet" />
</head>
<body class="login_page">
    <div class="login_blockm">
        <div class="login_box">
            <div class="home_logo">
                <img src="~/Content/Image/logo-h.png" />
            </div>
            <div class="cnt_b">
                <div class="formRow">
                    You Are Not Authorize To View This Application. Please Contact Administrator.
                </div>
            </div>
        </div>
    </div>
</body>
</html>

