<?xml version="1.0"?>
<connectionStrings>
  <add name="FleetManagerConnectionString" connectionString="Data Source=NISHANT\SQL2016EXPRESS; Initial Catalog=FleetManager; Asynchronous Processing=True; MultipleActiveResultSets=false; Application Name=FleetManager; Pooling=false; Integrated Security=SSPI"
    providerName="System.Data.SqlClient" />
  <add name="FleetManagerConnectionString1" connectionString="Data Source=NISHANT\SQL2016EXPRESS;Initial Catalog=FleetManager; Pooling=False;Asynchronous Processing=True;MultipleActiveResultSets=False;Application Name=FleetManager; Integrated Security=SSPI"
    providerName="System.Data.SqlClient" />
  <add name="FleetManagerConnectionString2" connectionString="Data Source=NISHANT\SQL2016EXPRESS;Initial Catalog=FleetManager;Integrated Security=True;Pooling=False;Asynchronous Processing=True;MultipleActiveResultSets=False;Application Name=FleetManager"
    providerName="System.Data.SqlClient" />
</connectionStrings>