@{
    Layout = null;
    bool isUserAccess = Convert.ToBoolean(ViewData["UserAccess"]);
    bool isCompanyAccess = Convert.ToBoolean(ViewData["CompanyAccess"]);
    bool isRoleAccess = Convert.ToBoolean(ViewData["RoleAccess"]);
    bool isTrackerAccess = Convert.ToBoolean(ViewData["TrackerAccess"]);
    bool isCarFleetAccess = Convert.ToBoolean(ViewData["CarFleetAccess"]);
    bool isFleetMakesAccess = Convert.ToBoolean(ViewData["FleetMakesAccess"]);
    bool isFleetModelsAccess = Convert.ToBoolean(ViewData["FleetModelsAccess"]);
    bool isFleetColorsAccess = Convert.ToBoolean(ViewData["FleetColorsAccess"]);
    bool isTripReasonAccess = Convert.ToBoolean(ViewData["TripReasonAccess"]);
    bool isGroupAccess = Convert.ToBoolean(ViewData["GroupAccess"]);
    bool isComposeAccess = Convert.ToBoolean(ViewData["ComposeAccess"]);
    bool isInboxAccess = Convert.ToBoolean(ViewData["InboxAccess"]);
    bool isOrderCategoryAccess = Convert.ToBoolean(ViewData["OrderCategoryAccess"]);
    bool isOrderAccess = Convert.ToBoolean(ViewData["OrderAccess"]);
}
<div>
    <!--BEGIN THEME SETTING-->
    <div id="theme-setting">
        <div class="content-theme-setting">
            <select id="cmbSetting" class="chosen"></select>
        </div>
    </div>
    <!--END THEME SETTING-->
    <!--BEGIN BACK TO TOP-->
    <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
    <!--END BACK TO TOP-->
    <!--BEGIN TOPBAR-->
    <div id="header-topbar-option-demo" class="page-header-topbar">
        <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" data-intro="&lt;b&gt;Topbar&lt;/b&gt; has other styles with live demo. Go to &lt;b&gt;Layouts-&gt;Header&amp;Topbar&lt;/b&gt; and check it out." class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a id="logo" href="~/Home/Index" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text"></span><span style="display: none" class="logo-text-icon">µ</span></a>
            </div>
            <div class="topbar-main">
                <a id="menu-toggle" href="#" class="hidden-xs" style="display: none;"><i class="fa fa-bars"></i></a>
                <div class="news-update-box hidden-xs" style="display: none;">
                    <h4>Dashboard</h4>
                </div>
                <ul class="nav navbar navbar-top-links navbar-right mbn">
                    <li class="dropdown topbar-user">
                        <a data-hover="dropdown" href="#" class="dropdown-toggle">
                            <span class="hidden-xs">@FleetManagerWeb.Common.mySession.Current.UserName</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user pull-right">
                            <li><a href="#" id="aChangePassword"><i class="fa fa-user"></i>Change Password</a></li>
                            <li><a href="~/Home/LogOut"><i class="fa fa-key"></i>Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--END TOPBAR-->
    @*<div >*@
    <!--BEGIN SIDEBAR MENU-->
    @*<nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;" data-position="right" class="navbar-static-side">
                    <div class="sidebar-collapse menu-scroll">
                        <div id='cssmenu' class="nav">
                            <ul>
                                <li class='active has-sub'>
                                    <a href="#">
                                        <i class="fa menu-vehicle fa-fw">
                                        </i><span class="menu-title">Fleet</span><span class="fa arrow"></span>
                                    </a>
                                    <ul>
                                        @if (isTrackerAccess)
                                        {
                                            <li>
                                                <a href="~/Tracker/TrackerView"><span>Tracker</span></a>
                                            </li>
                                        }
                                        @if (isCarFleetAccess)
                                        {
                                            <li>
                                                <a href="~/CarFleet/CarFleetView"><span>Car Fleet</span></a>
                                            </li>
                                        }

                                    </ul>
                                </li>
                                <li class='active has-sub'>
                                    <a href='#'><span>Settings</span></a>
                                    <ul>
                                        @if (isTripReasonAccess)
                                        {
                                            <li>
                                                <a href="~/TripReason/TripReasonView"><span>Application</span></a>
                                            </li>
                                        }
                                        @if (isUserAccess && isRoleAccess)
                                        {
                                            <li class='has-sub'>
                                                <a href='#'><span>System</span></a>
                                                <ul>
                                                    @if (isUserAccess)
                                                    {
                                                        <li>
                                                            <a href="~/User/UserView"><span>User</span></a>
                                                        </li>
                                                    }
                                                    @if (isRoleAccess)
                                                    {
                                                        <li>
                                                            <a href="~/Role/RoleView"><span>Role</span></a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                            </div>
                        </div>
        </nav>*@
    @*</div>*@

    <div id="wrapper">
        <!--BEGIN SIDEBAR MENU-->
        <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;" data-position="right" class="navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">
                    <li class="user-panel">
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa menu-vehicle fa-fw">
                                @*<div class="icon-bg bg-violet"></div>*@
                            </i><span class="menu-title">Fleet</span><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            @if (isTrackerAccess)
                            {
                                <li><a href="~/Tracker/TrackerView"><i class="fa fa-columns"></i><span class="submenu-title">Tracker</span></a></li>
                            }
                            @if (isCarFleetAccess)
                            {
                                @*<li>
                                        <a href="~/CarFleet/CarFleetView"><span>Car Fleet</span></a>
                                    </li>*@
                                <li><a href="~/CarFleet/CarFleetView"><i class="fa fa-columns"></i><span class="submenu-title">Car Fleet</span></a></li>
                            }
                            @*<li><a href="~/Tracker/TrackerView"><i class="fa fa-columns"></i><span class="submenu-title">Tracker</span></a></li>
                                <li><a href="~/FleetModels/FleetModelsView"><i class="fa fa-cubes"></i><span class="submenu-title">Fleet Models</span></a></li>
                                <li><a href="~/FleetColors/FleetColorsView"><i class="fa fa-magic"></i><span class="submenu-title">Fleet Colors</span></a></li>
                                <li><a href="~/TripReason/TripReasonView"><i class="fa fa-exclamation"></i><span class="submenu-title">Trip Reason</span></a></li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa menu-mail fa-fw">
                            </i><span class="menu-title">Mail</span><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            @if (isComposeAccess)
                            {
                                <li><a href="~/Mail/Compose"><i class="fa fa-columns"></i><span class="submenu-title">Compose</span></a></li>
                            }
                            @if (isInboxAccess)
                            {
                                <li><a href="~/Mail/Inbox"><i class="fa fa-columns"></i><span class="submenu-title">Inbox</span></a></li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa menu-order fa-fw">
                            </i><span class="menu-title">Order</span><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            @if (isOrderCategoryAccess)
                            {
                                <li><a href="~/OrderCategory/OrderCategoryView"><i class="fa fa-columns"></i><span class="submenu-title">Order Category</span></a></li>
                            }
                            @if (isOrderAccess)
                            {
                                <li><a href="~/Order/OrderView"><i class="fa fa-columns"></i><span class="submenu-title">Order</span></a></li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa menu-setting fa-fw">
                                <div class="icon-bg bg-yellow"></div>
                            </i><span class="menu-title">Settings</span><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            @if (isTripReasonAccess)
                            {
                                @*<li>
                                        <a href="~/TripReason/TripReasonView"><span>Application</span></a>
                                    </li>*@
                                <li><a href="~/TripReason/TripReasonView"><i class="fa fa-steam"></i><span class="submenu-title">Application</span></a></li>
                            }
                            @if (isUserAccess || isRoleAccess || isCompanyAccess || isGroupAccess)
                            {
                                <li class="dropdown-submenu">
                                    <a href="#">System</a>
                                    <ul class="dropdown-menu">
                                        @*<li><a tabindex="-1" href="~/User/UserView">User</a></li>*@
                                        @if (isUserAccess)
                                        {
                                            <li><a href="~/User/UserView">User</a></li>
                                        }
                                        @if (isRoleAccess)
                                        {
                                            <li><a tabindex="-1" href="~/Role/RoleView">Role</a></li>
                                        }
                                        @if (isCompanyAccess)
                                        {
                                            <li><a tabindex="-1" href="~/Company/CompanyView">Company</a></li>
                                        }
                                        @if (isGroupAccess)
                                        {
                                            <li><a tabindex="-1" href="~/Group/GroupView">Group</a></li>
                                        }
                                        
                                        @*<li class="dropdown-submenu">
                                                <a href="#">Even More..</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">3rd level</a></li>
                                                    <li><a href="#">3rd level</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Second level</a></li>
                                            <li><a href="#">Second level</a></li>*@
                                    </ul>
                                </li>

                                @*<li class='has-sub'>
                                        <a href="#"><i class="fa fa-steam"></i><span class="submenu-title">System</span></a>
                                        <ul class="dropdown-menu">
                                            @if (isUserAccess)
                                            {
                                                <li>
                                                    <a href="~/User/UserView"><span>User</span></a>
                                                </li>
                                            }
                                            @if (isRoleAccess)
                                            {
                                                <li>
                                                    <a href="~/Role/RoleView"><span>Role</span></a>
                                                </li>
                                            }
                                        </ul>
                                    </li>*@
                            }
                            @*<li><a href="~/User/UserView"><i class="fa fa-steam"></i><span class="submenu-title">User</span></a></li>
                                <li><a href="~/Role/RoleView"><i class="fa fa-puzzle-piece"></i><span class="submenu-title">Role</span></a></li>*@
                        </ul>
                    </li>
                </ul>
            </div>
            @*<div class="row">
                    <h2>Multi level dropdown menu in Bootstrap 3</h2>
                    <hr>
                    <div class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                            Dropdown <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li><a href="#">Some action</a></li>
                            <li><a href="#">Some other action</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Hover me for more options</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Second level</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="#">Even More..</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">3rd level</a></li>
                                            <li><a href="#">3rd level</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Second level</a></li>
                                    <li><a href="#">Second level</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>*@
        </nav>
    </div>
</div>
